/app/            @Yuvraj-Sarathe
/config/         @Yuvraj-Sarathe
Dockerfile docker-compose.yml Makefile .github/  @Yuvraj-Sarathe
/scrapers/       @SourabhX16 @abhay2006ichigo @Yuvraj-Sarathe
/pipeline/       @VanshikaShrivastava-web
/db/ /engine/    @SourabhX16 @abhay2006ichigo @Yuvraj-Sarathe
/frontend/       @mehakshahofficial
/docs/ /slides/ /demo/ README.md  @bysneh
